{% extends "base.html" %}

{% block title %}{% endblock %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>
                Graphs
            </h1>
            <canvas id="myChart">
            </canvas>
            <canvas id="myChart1">
            </canvas>
            <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0">
            </script>
            <script>
                var ctx = document.getElementById('myChart').getContext('2d');
				var chart = new Chart(ctx, {
    			// The type of chart we want to create
    			type: 'line',

			    // The data for our dataset
			    data: {
		        labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
		        datasets: [{
	            label: 'My First dataset',
	            backgroundColor: 'rgb(255, 99, 132)',
	            borderColor: 'rgb(255, 99, 132)',
	            data: [0, 10, 5, 2, 20, 30, 45] 
		        }] 
		    	},
		    	// Configuration options go here
		    	 options: {}
		    	});
            </script>
            <script>
            	var ctx = document.getElementById('myChart1').getContext('2d');
				var chart = new Chart(ctx, {
    			// The type of chart we want to create
    			type: 'bar',

			    // The data for our dataset
			    data: {
		        labels: [{% for item in final_df["Category"].unique() %}
		        	"{{item}}",
		        	{% endfor %}],
		        datasets: [{
	            label: 'My First dataset',
	            backgroundColor: 'rgb(255, 99, 132)',
	            borderColor: 'rgb(255, 99, 132)',
	            data: [{% for item in final_df['WAR/Cost'] %}
                		"{{item}}",
              		{% endfor %}],
		        }] 
		    	},
		    	// Configuration options go here
		    	 options: {}
		    	});
            </script>
	    }
        </div>
    </div>
</div>
{% endblock %}
