{% extends "base.html" %}
{% block title %}Tables{% endblock %}
{% block main %}
<body>
    <div class="container" style="margin-bottom:20px">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title" style="text-align:center">
                    War/Cost Table
                </h1>
                <div class="row" style="margin-bottom:15px">
                    <div class="col-8">
                        <div class="dropdown">
                            <a aria-expanded="false" aria-haspopup="true" class="btn btn-secondary dropdown-toggle btn-lg" data-toggle="dropdown" href="#" id="dropdownMenuLink" role="button">
                                Select file to View Table
                            </a>
                            <div aria-labelledby="dropdownMenuLink" class="dropdown-menu">
                                {% if empty %}
                                <a class="dropdown-item" href="#">
                                    {{ message }}
                                </a>
                                {% else %}
                        {% for file in data %}
                                <a class="dropdown-item" href="/table/{{file.id}}">
                                    {{ file.name }}
                                </a>
                                {% endfor %}
                        {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <p class="card-text" style="text-align:center">
                            <strong>
                                Now viewing table for: {{ active.name }}
                            </strong>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <nav class="navbar navbar-expand-lg navbar-light ">
                            <button aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarNavDropdown" data-toggle="collapse" type="button">
                                <span class="navbar-toggler-icon">
                                </span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                                <ul class="navbar-nav">
                                    <li class="nav-item active">
                                        <a class="nav-link" href="get-file/{{ active.name }}">
                                            Download Table
                                        </a>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="navbarDropdownMenuLink" role="button">
                                            Sort Table
                                        </a>
                                        <div aria-labelledby="navbarDropdownMenuLink" class="dropdown-menu">
                                            <button class="dropdown-item" onclick="sortTable(0)">
                                                Sort by Classroom
                                            </button>
                                            <button class="dropdown-item" onclick="sortTable(7)">
                                                Sort by WAR
                                            </button>
                                            <button class="dropdown-item" onclick="sortTable(10)">
                                                Sort by WAR/Cost
                                            </button>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                        <div class="tab-content" id="pills-tabContent">
                            <div aria-labelledby="pills-home-tab" class="tab-pane fade show active" id="pills-home" role="tabpanel">
                            </div>
                            <div aria-labelledby="pills-profile-tab" class="tab-pane fade" id="pills-profile" role="tabpanel">
                            </div>
                            <div aria-labelledby="pills-contact-tab" class="tab-pane fade" id="pills-contact" role="tabpanel">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        {% for table in tables %}
                  {{ table|safe }}
                {% endfor %}
    </div>
    <script>
        function sortTable(n) {
  var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
  table = document.getElementById("myTable");
  switching = true;
  //Set the sorting direction to ascending:
  dir = "asc"; 
  /*Make a loop that will continue until
  no switching has been done:*/
  while (switching) {
    //start by saying: no switching is done:
    switching = false;
    rows = table.rows;
    /*Loop through all table rows (except the
    first, which contains table headers):*/
    for (i = 1; i < (rows.length - 1); i++) {
      //start by saying there should be no switching:
      shouldSwitch = false;
      /*Get the two elements you want to compare,
      one from current row and one from the next:*/
      x = rows[i].getElementsByTagName("TD")[n];
      y = rows[i + 1].getElementsByTagName("TD")[n];
      /*check if the two rows should switch place,
      based on the direction, asc or desc:*/
      if (dir == "asc") {
        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
          //if so, mark as a switch and break the loop:
          shouldSwitch= true;
          break;
        }
      } else if (dir == "desc") {
        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
          //if so, mark as a switch and break the loop:
          shouldSwitch = true;
          break;
        }
      }
    }
    if (shouldSwitch) {
      /*If a switch has been marked, make the switch
      and mark that a switch has been done:*/
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
      //Each time a switch is done, increase this count by 1:
      switchcount ++;      
    } else {
      /*If no switching has been done AND the direction is "asc",
      set the direction to "desc" and run the while loop again.*/
      if (switchcount == 0 && dir == "asc") {
        dir = "desc";
        switching = true;
      }
    }
  }
}
    </script>
</body>
{% endblock %}
